.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
  }

  &__logo {
    font-size: 32px;
  }

  &__input {
    border-radius: 5px;
  }
}
